.hidden {
  display: none;
}

.delete-button svg {
  height: 20px;
  width: 20px;
  fill: #28ACFF;
}

.delete-button svg:hover {
  fill: #FF3366;
}

.delete-button:focus svg{
  fill: #FF3366;
}

.delete-button {
  color: #000;
  border: none;
}