@import-normalize;

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Open+Sans&display=swap');

@font-face {
  font-family: 'Nexa';
  src: local('Nexa'), url(./fonts/NexaDemo-Bold.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h3 {
  font-family: 'Nexa', 'Merriweather Sans', sans-serif;
}

p {
  /* font-family: 'Helvetica Neue'; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}